<div class="jumbotron text-center">
  <div class="container-fluid">
    <h1>CarbonFootprint - 首頁</h1>
    <p>&nbsp</p>
  </div>

  <div class="container">
    <div class="row">
      <div>
        <p>&nbsp</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row featurette text-center">
    <h2 class="text-center">碳足跡結合點餐系統</h2>

    <div class="col-lg-6">
      <h3>低碳排放交通工具</h3>
      <div class="lead">
      <div class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">換取點數</span></span></code></pre></div>
      </div>
    </div>

    <div class="col-lg-6">
      <h3>點餐優惠</h3>
      <div class="lead">
        <div class="highlight">
          <pre><code class="language-javascript" data-lang="javascript"><span class="nx">四點點數折抵一元</span></span></code></pre>
        </div>
      </div>
    </div>
  </div>
    <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <h2>優惠點餐活動</h2>
      <p>凡使用Carbonfootprint APP， 並採取低碳排放之交通工具，就可以開始累積點數；點數可用於店家點餐折扣優惠。<br/><a href="/#">知道更多 →</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-8">
      <h2>臭豆腐</h2>
      <p>新菜品搶先上市：由青草配中藥加上獨家配方浸泡而成，靠著經驗累積不用計時器，光用夾子就能感覺豆腐的軟硬，硬一點的皮酥帶有嚼勁，軟的內軟多汁  <a href="">立即點餐 →</a></p>
    </div>
    <div class="col-md-4">
      <img src="/img/A12.jpg">
    </div>
  </div>
</div>