<div class="jumbotron text-center">
  <div class="container-fluid">
    <h1>CarbonFootprint - 菜單</h1>
    <p>&nbsp</p>
  </div>

  <div class="container">
    <div class="row">
      <div>
        <p>&nbsp</p>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
    .col-lg-4{
        margin-left:auto;
        margin-right:auto;
    }
</style>
<div class="container">
    <div class="row">  
        <div  ng-repeat = "item in cart" class="col-xs-4 text-center">            
            <h4><span ng-bind = "item.name"></span><br/>NT$<span  ng-bind = "item.price"></span></h4>
            <img ng-src = "/img/{{item.imgsrc}}.jpg" width="100" height="100" class="img-circle">
            <div class="input-group col-lg-4">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="qreduce(item.id)">-</button>
                </span>
                <input type="text" class="form-control" value="{{item.quantity}}" ng-model="item.quantity" >
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" ng-click="qadd(item.id)">+</button>
                </span>
            </div>
            <br/>
        </div>  
        <input class = "btn btn-success btn-lg btn-block col-lg-12" type = "submit" value = "下一步" ng-click = "nextPage()">
    </div>
</div>
